OPENAI_API_KEY=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
SESSION_SECRET=my_super_secret_random_string_2026
PORT=3000
NODE_ENV=development
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=aarushi@1234
DB_NAME=OpBox